# 1) Ignore all files and directories in the root
/*



*




!.gitignore
!.gitattributes
!gcommit.bat
!gcommit.sh
!makefile
!make.bat
!/README.md
!LICENSE

!/.vscode
!/.vscode/*
!/.vscode/**/*


!/apptest
!/apptest/*.cpp

!/apptest/ov.cpp
!apptest/taskb.cpp
!apptest/enc.cpp
!apptest/docker.cpp
!apptest/clip.cpp
!apptest/getawin.cpp
!apptest/taskbar.cpp

!/appcad
!simplecad.cpp
!scintlua.cpp
!helpers.cpp
!includes.hpp

!/approbot
!frobot.cpp
!frobot.hpp
!luanew.cpp
!movement.cpp
!scint.cpp
!sideapp.cpp
!GraphicsCostEstimator_patch.h

!lua
!/**/lua/*.lua


!stl
!/**/stl/*.stl

!/common
!general.*
!stream_interactive.*
!lua_preprocessor.cpp
!font_loader.cpp
!fl_browser_msv.*
# !Cascadia Mono PL SemiBold 600.otf
# !DejaVuSans-Bold.ttf

!fl_scintilla.*

!scintilla_370
!/**/scintilla_370/doc
!/**/scintilla_370/doc/*
!/**/scintilla_370/fltk
!/**/scintilla_370/fltk/*
!/**/scintilla_370/include
!/**/scintilla_370/include/*
!/**/scintilla_370/lexers
!/**/scintilla_370/lexers/*
!/**/scintilla_370/lexlib
!/**/scintilla_370/lexlib/*
!/**/scintilla_370/src
!/**/scintilla_370/src/*
!/**/scintilla_370/src/*
!/**/scintilla_370/fltest.cpp


# !sol2
# !include



!cfglinux
!/cfglinux/*
!/cfglinux/**/*

!sol2
!/**/sol2/*/sol
!/**/sol2/*/sol/*
!/**/sol2/include
!/**/sol2/include/**
*.hpp.gch


!site
!site/index.html

!docs
!docs/index.html

*_v1*
*_v2*
*_v3*
*_v4*
*_v5*
*_v6*
*_v7*
*_v8*
*_v9*
*delet*
