*
!.gitignore
!.gitattributes
!makefile
!make.bat

!/appcad
!simplecad.cpp

!/approbot
!frobot.cpp
!frobot.hpp
!luanew.cpp
!movement.cpp

!lua
!/**/lua/*.lua

!stl
!/**/stl/*.stl

!/common
!general.*
!stream_interactive.*

!fl_scintilla.*

!scintilla_370
!/**/scintilla_370/doc
!/**/scintilla_370/doc/*
!/**/scintilla_370/fltk
!/**/scintilla_370/fltk/*
!/**/scintilla_370/include
!/**/scintilla_370/include/*
!/**/scintilla_370/lexers
!/**/scintilla_370/lexers/*
!/**/scintilla_370/lexlib
!/**/scintilla_370/lexlib/*
!/**/scintilla_370/src
!/**/scintilla_370/src/*
!fltest.*
