*
!.gitignore
!.gitattributes
!gcommit.bat
!makefile
!make.bat
!readme.*
!license

!/.vscode
!/.vscode/*


!/apptest
!/apptest/ov.cpp
!apptest/taskb.cpp
!apptest/enc.cpp

!/appcad
!simplecad.cpp

!/approbot
!frobot.cpp
!frobot.hpp
!luanew.cpp
!movement.cpp
!scint.cpp
!sideapp.cpp
!GraphicsCostEstimator_patch.h

!lua
!/**/lua/*.lua


!stl
!/**/stl/*.stl

!/common
!general.*
!stream_interactive.*
!lua_preprocessor.c

!fl_scintilla.*

!scintilla_370
!/**/scintilla_370/doc
!/**/scintilla_370/doc/*
!/**/scintilla_370/fltk
!/**/scintilla_370/fltk/*
!/**/scintilla_370/include
!/**/scintilla_370/include/*
!/**/scintilla_370/lexers
!/**/scintilla_370/lexers/*
!/**/scintilla_370/lexlib
!/**/scintilla_370/lexlib/*
!/**/scintilla_370/src
!/**/scintilla_370/src/*
!/**/scintilla_370/src/*
!/**/scintilla_370/fltest.*

!cfglinux
!/cfglinux/*
!/cfglinux/**/*
